streamlit==1.39.0
boto3
botocore
matplotlib
langchain
langchain_aws
seaborn
pandas
scikit-learn
jsonlines
shap
nest_asyncio
plotly
networkx
streamlit_lottie
markdown==3.5
markdownify==0.11.6
pillow==10.2.0
uuid==1.30
html-sanitizer==2.2.0